:root {
  --nwea-primary: #FFC107;
  --nwea-bg-hover: #757575;
}


/*
 * main body content
 */
* {
  box-sizing: border-box;
}

.nwea-bg-primary {
  background-color: var(--nwea-primary);
  border: 1px solid var(--nwea-primary);
  color: #000;
}

.container-fluid {
  padding: 0 !important;
}

main .container,
#previousBlogEntries {
  margin-top: 32px;
  margin-bottom: 32px;
}

#allBlogEntries .card {
  margin-top: 16px;
  margin-bottom: 16px;
}

button {
  border: 1px solid var(--nwea-primary) !important;
  background-color: var(--nwea-primary) !important;
  color: #000 !important;

}

button:hover {
  border: 1px solid var(--nwea-bg-hover) !important;
  background-color: var(--nwea-bg-hover) !important;
  color: #fff !important;
}

.navbar-brand {
  color: #000 !important;
}


/*
 * footer content
 */
footer {
  text-align: center;
  margin-top: 2em;
  color: #fff;
  font-family: 'Roboto', 'Orbitron', sans-serif;
}

footer ul {
  list-style-type: none;
  font-size: 1.3em;
  margin: auto;
  padding: 0;
}

footer ul li {
  display: inline-block;
  padding: 0px 5px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: var(--nwea-primary);
}

.written-by {
  font-size: 0.75em;
  margin: auto;
  color: #fff !important;
}
