/*
 * site-wide styling
 */
* {
	box-sizing: border-box;
}

/*
 * header styling
 */
#title {
	font-family: 'Expletus Sans', 'Roboto', sans-serif;
	text-transform: uppercase;
}


/*
 * content styling
 */
#card-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
	padding: 1em;
	border: 1px solid #fff;
}

#card-container > * {
  flex: 1;
}

.card {
	max-width: 100%;
	min-width: 350px;
	height: 100px;
	border: 1px solid yellow;
	border-radius: 5px;
	padding: 0 1% 1% 1%;
	margin: 10px;
	background-color: #E0E0E0;
	background-color: #BDBDBD;
	color: #000;
}

.symbol {
	font-weight: bold;
	font-size: 1.3em;
}

.name {
	display: block;
	font-weight: bold;
	font-size: 1.1em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@media screen and (min-width: 860px) {
 	.card {
		width: 50%;
		max-width: 50%;
	}

}

@media screen and (min-width: 1460px) {
	.card {
		width: calc(100% / 3);
		max-width: calc(100% / 3);
	}
}
